:root{
    --light-background: url("../img/light-background.jpg");
    --dark-background: url("../img/dark-background.jpg");
    --border-color: white;
    --default-font-color: white;
    --current-stats-label-font-color: #D7D7D7;
    --weather-card-height: 250px;
    --default-weather-card-width: 190px;
    /*Mobile*/
    --city-mobile-font-size: 1.25em;
    --weather-card-mobile-font-size: .9em;
    --date-mobile-font-size: 1.25em;
    /*Larger Devices*/
    --city-large-font-size: 1em;
    --weather-card-large-font-size: .9em;
    --weather-card-large-height: 250px;
    --weather-card-large-width: 220px;
    --date-large-font-size: 1em;
    --default-font-family: 'Poppins', sans-serif;
}

/******DEFAULT STYLING******/
* {
    box-sizing: border-box;
    font-family: var(--default-font-family);
}

body {
    margin: 12px;
    height: 100%;
    background-color: #100C2A;
    background-image: var(--light-background);
    color: var(--default-font-color);
}

/* DARK MODE STYLING */
/* switch */
.custom-control-input:checked~.custom-control-label::before {
    background-color: deeppink;
    border-color: purple;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-switch.custom-switch-md .custom-control-label {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
}

.custom-switch.custom-switch-md .custom-control-label::before {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}

.custom-switch.custom-switch-md .custom-control-label::after {
    width: calc(1.5rem - 4px);
    height: calc(1.5rem - 4px);
    border-radius: calc(2rem - (1.5rem / 2));
}

.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(1.5rem - 0.25rem));
}

/* dark mode class */
.dark-mode {
    background-image: var(--dark-background);
    color: white;
}

/*current city and date */
.city-and-date {
    width: 100%;
}

#city {
    margin: 0;
    font-size: var(--city-mobile-font-size);
}

/* current-temperature */
.current-temperature {
    margin-top: 0.25em;
    width: 100%;
}

.current-temperature-icon-container {
    flex-grow: 1.25;
    text-align: center;
}

.current-temperature-content-container {
    flex-grow: 1;
    text-align: center;
}

.current-temperature-value {
    font-size: 5.25em;
    font-weight: 300;
}

.current-temperature-description {
    margin-top: -0.5em;
    margin-left: -0.6em;
    text-align: center;
    font-size: 1.125em;
    text-transform: capitalize;
}

/* current-stats */
.current-stats {
    padding-bottom: 1em;
    width: 100%;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.current-stats-value {
    margin-top: 1em;
    font-size: 1.44em;
}

.current-stats-label {
    color: var(--current-stats-label-font-color);
}

/* five-day-forecast */
.five-day-forecast-main-div {
    width: 100%;
    margin-top: 1em;
}

/* Default weather card styling for x-small mobile devices */
.weather-card {
    justify-content: center;
    display: inline-block;
    width: var(--default-weather-card-width);
    height: var(--weather-card-height);
    border: none;
    color: var(--default-font-color);
    font-size: var(--weather-card-mobile-font-size);
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 15px !important;

}

.date {
    font-size: var(--date-mobile-font-size);
    font-weight: bold;

}

.weather-description {
    text-transform: capitalize;
}

/* Making background color of text within weather cards transparent */
.temperature, .weather-description, .wind, .pressure {
    background: transparent;
    margin-bottom: 0;
}

/* Scrollable Weather Cards */
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

/* Container for map */
.map-container {
    height: 15em;
    width: 100%;
}


/* Mobile map styling */
#map {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


/******MEDIA QUERIES******/

@media screen and (min-width: 1220px) {

    .weather-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}


/*Medium in Landscape Mode(tablets, etc)*/
@media screen and (min-width: 700px) {
    body {
        margin: 20px;
    }

    .current-stats {
        margin-bottom: 1em;
        padding-bottom: 0;
        border-top: none;
        border-bottom: none;
        border-left: 1px solid var(--border-color);
    }

    .current-temperature,
    .current-stats {
        width: 50%;
    }
}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    #current-date, #map-text {
        font-size: 1.125em;
    }

    .five-day-forecast-heading {
        font-size: 1.125em;
    }

    /* Container for map */
    .map-container {
        height: 25em;
        width: 100%;
    }

    .weather-card {
        height: var(--weather-card-large-height);
        width: var(--weather-card-large-width);
    }
}


/* Large devices (desktops, 920px and up) */
@media screen and (min-width: 920px) {
    header, .main-container {
        max-width: 1210px;
        margin: 8px auto;
        font-size: 1.1em;
    }

    /* Container for map */
    .map-container {
        height: 30em;
        width: 100%;
    }
}